---
import Layout from '../layouts/Layout.astro';
import NewPost from '../components/NewPost'
---


<Layout title="Facebook">
	<main class="flex place-content-center">
		<NewPost />
	</main>
</Layout>

<style>
</style>
