---
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostCardList";
import type { Post as PostType } from "../types/posts";

export const prerender = false;

const userManu = {
  id: crypto.randomUUID(),
  image: "/img/minions.jpg",
  name: "Manuel Antón",
};

const userMilo = {
  id: crypto.randomUUID(),
  image: "/img/koala.jpg",
  name: "Milo",
};

const posts: PostType[] = [
  {
    id: crypto.randomUUID(),
    user: userManu,
    created_at: new Date("2023-10-12"),
    body: {
      text: "Me gusta más que el facebook original",
      image: "/img/ai-palace.png",
    },
    feedback: {
      likes: [userMilo],
      comments: [
        {
          id: crypto.randomUUID(),
          user: userManu,
          text: "A mí también aunque no te sorprenda.",
          created_at : new Date("2023-10-12")
        },{
          id: crypto.randomUUID(),
          user: userMilo,
          text: "Que imagen más chula.",
          created_at : new Date("2023-10-13")
        }
      ],
    },
  },
  {
    id: crypto.randomUUID(),
    user: userMilo,
    created_at: new Date("2023-10-10"),
    body: {
      text: "Hello, world! First Facebook post.",
    },
    feedback: {
      comments: [],
      likes: [],
    },
  },
];
---

<Layout title="Facebook">
  <div class="flex place-content-center">
    <main class="w-3/5">
      <PostList client:load user={userManu} posts={posts} />
    </main>
  </div>
</Layout>
